* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(204, 132, 180);

}

main{
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}